/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
  --background-color: rgb(250, 243, 234);;
  --text-color: black;
  --primary-color: #357b70;
  --secondary-color: rgb(214, 222, 233);
  --button-color:#e10096;
  --border-primary-color: grey;
  --shadow-color: rgb(250, 209, 216);
  --page-padding: 25px;
  --content-font-size: 22px;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  

/* Styling for the whole page as everything is inside of the main body */
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: var(--content-font-size);
    /* Sets the font size to 22px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
    color: var(--text-color);
}


/* GENETRAL settings for the whole page */
h1 {
    font-size: 30px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 24px;
    font-weight: 700;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 700;
  }
  
  a {
    color: var(--primary-color);
  }
  a:visited {
    /* visited link */
    color: var(--primary-color);
  }
  
  a:hover {
    font-size: large;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    cursor: pointer;
    text-decoration: none;
    color: var(--button-color);
  }
  
  a:active {
    /* selected link */
    color: var(--primary-color);
  }



  button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 14px;
    border-radius: 10px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.9s;
         -o-transition-duration: 0.9s;
            transition-duration: 0.9s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
  

  button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    font-size: large;
  }


  /* PAGE HEADER STYLING */
  .page-header
{
    border: 1px solid var(--border-primary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    padding: var(--page-padding);
    background-color: var(--background-color);
    margin: 0 auto;
    text-align: center;
    -webkit-box-shadow: 3px 5px 10px var(--shadow-color);
            box-shadow: 3px 5px 10px var(--shadow-color);

}
.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80px;
            flex: 0 1 80px;
  }

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }

  /* Navigation on the top of the page styling and specifics */
.navigation-list {
    list-style-type: none;
  }

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }



  /* STYLING FOR MIDDLE CONTAINERS ON ALL HTML EXTENSIONS */
.container-2, .page-footer,  .contact-container-2, .about-container-2, .input-contact, 
 .grid-work-container{
    border: 1px solid var(--border-primary-color);
    width: 90%;
    margin:auto;
    text-align: center;
    padding: var(--page-padding);
    background-color: var(--background-color);
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-shadow: 3px 5px 10px var(--shadow-color);
            box-shadow: 3px 5px 10px var(--shadow-color);

}

.about-me-table{
    border: 1px solid black;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 3px 5px 10px pink;
            box-shadow: 3px 5px 10px pink;

}
.about-me-font-size{
  font-size: 30px;
}

.container-2 img, .about-container-2 img {

    border-radius: 50%;
}

.about-container-2 img{
    float:left;
}

.container-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid black;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;

}

.text-aboutme{
    padding: 3px;
}


.social-media-icons {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 50%;
  border: 0.7px dashed pink;
  background-clip: content-box;
  padding: 2px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 10px;
}

.portofolio-picture, .page-header__logo{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 50%;
  border: 0.7px dashed pink;
  background-clip: content-box;
  padding: 2px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 10px;

}

.social-media-icons span, .page-header__logo span, .portofolio-picture span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social-media-icons:hover, .page-header__logo:hover, .portofolio-picture:hover {
  padding: 15px;
  margin-left: -5px;
  -webkit-transform: translateX(5px) rotate(360deg);
      -ms-transform: translateX(5px) rotate(360deg);
          transform: translateX(5px) rotate(360deg);
  cursor: pointer;
}


.social-media-icons, .contact-info-styling {
    padding: 1%;
    margin: 0 auto;
}




/* GRID STYLING FOR WORK.HTML, WORK EXPIRIENCE PART */
.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
     
  }

.grid__item {
    background-color: var(--secondary-color);
    margin: 4px;
    padding: 2px;
    -webkit-box-shadow: 3px 5px 10px lightgray;
            box-shadow: 3px 5px 10px lightgray;
	  -webkit-transition: .4s;
	  -o-transition: .4s;
	  transition: .4s;
  }
  

  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }

  .grid__item:hover {
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    cursor: pointer;
  }




/* PAGE FOOTER STYLING */
  .page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    text-align: center;
    -webkit-box-shadow: 3px 5px 10px pink;
            box-shadow: 3px 5px 10px pink;


}




  /* For screens from 0px to 750px setting */
  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }


  /*Animating PICTURE*/
  @-webkit-keyframes color-change {
    0% {
      fill: #e6b31c;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
  @keyframes color-change {
    0% {
      fill: #e6b31c;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
  
  .sun {
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: color-change;
            animation-name: color-change;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;

  /*or the same line of code, but short: animation: 4s color-change infinite alternate linear; */

  }

  
  
  @-webkit-keyframes cloud-move {
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }

  
  
  @keyframes cloud-move {
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }
  

  .cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;

     /* animation-duration: 30s;
      animation-name: cloud-move;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear; */
  }
  
  @-webkit-keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  
  @keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  
  .cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
  }

  @-webkit-keyframes example {
    from {fill: rgba(238, 124, 249, 0.982);}
    to {fill: rgb(96, 200, 245);}
  }

  @keyframes example {
    from {fill: rgba(238, 124, 249, 0.982);}
    to {fill: rgb(96, 200, 245);}
  }

  

  .tower-circle{
    -webkit-animation: 3s example infinite alternate linear;
            animation: 3s example infinite alternate linear;
  }

  .berlin-door{
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: example;
            animation-name: example;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }


  @-webkit-keyframes grass-animation{
    from {fill:lime}
    to {fill:palegreen}
  }


  @keyframes grass-animation{
    from {fill:lime}
    to {fill:palegreen}
  }

  .grass {
    -webkit-animation: 5s grass-animation infinite alternate linear;
            animation: 5s grass-animation infinite alternate linear;
  }

  @-webkit-keyframes statue-animation{
    0% {
      fill: fuchsia;
    }
    50% {
      fill: skyblue;
    }
    100% {
      fill:turquoise;
    }
  }

  @keyframes statue-animation{
    0% {
      fill: fuchsia;
    }
    50% {
      fill: skyblue;
    }
    100% {
      fill:turquoise;
    }
  }

  .statue{
    -webkit-animation: 10s statue-animation infinite alternate linear;
            animation: 10s statue-animation infinite alternate linear;
  
  }



  
  